casadata==2021.8.16
casampi==0.4.2
casaplotms==1.2.8
casatasks @ file:///users/jhoskins/Downloads/casatasks-6.4.3.24a13631.dev5-py3-none-any.whl
casatestutils==6.3.0.48
casatools @ file:///users/jhoskins/Downloads/casatools-6.4.3.24a13631.dev5-cp36-cp36m-manylinux2010_x86_64.whl
casaviewer==1.2.14
matplotlib==3.3.4
notebook==6.4.8
numpy==1.19.5
plotly==5.6.0
prettytable==2.5.0
scipy==1.5.4
